@model ProductCategoriesModel


@{
    ViewData["Title"] = "Home Page";
    double _totalGFS = 0;
    double _totalSysco = 0;
    double _totalJFC = 0;
    double _totalETC = 0;
    double _totalExpense = 0;
    Dictionary<double, string> _items = new Dictionary<double, string>();
    foreach (var val in Model.gfs)
    {
        _totalExpense += (double)val.Price;
        _totalGFS += (double)val.Price;

    }

    foreach (var val in Model.sysco)
    {
        _totalExpense += (double)val.Price;
        _totalSysco += (double)val.Price;
    }

    foreach (var val in Model.etc)
    {
        _totalExpense += (double)val.Price;
        _totalETC += (double)val.Price;

    }
    foreach (var val in Model.jfc)
    {
        _totalExpense += (double)val.Price;
        _totalJFC += (double)val.Price;

    }
    _items.Add(_totalGFS, "GFS");
    _items.Add(_totalSysco, "Sysco");
    _items.Add(_totalETC, "ETC");
    _items.Add(_totalJFC, "JFC");
    List<KeyValuePair<double, string>> sortedList = _items.ToList();
    sortedList.Sort((pair1, pair2) => pair1.Key.CompareTo(pair2.Key));
}


<div class="container p-3">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">Items In Inventory</h2>
        </div>

    </div>
    <br />



    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>
                <th style="text-align:center">GFS Product Name</th>
                <th style="text-align:center">GFS Product Weight(KG)</th>
                <th style="text-align:center">GFS Product Weight(LB)</th>
                <th style="text-align:center">GFS Product Price</th>
            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.gfs)
            {
                double totalGfsPrice = 0;
                totalGfsPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>

                </tr>
            }

        </tbody>

    </table>
    <h5 style="text-align:end;">
        Total GFS Expense : $@_totalGFS
    </h5>


    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">Sysco Product Name</th>
                <th style="text-align:center">Sysco Product Weight(KG)</th>
                <th style="text-align:center">Sysco Product Weight(LB)</th>
                <th style="text-align:center">Sysco Product Price</th>

            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.sysco)
            {
                double totalSyscoPrice = 0;
                totalSyscoPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>

                </tr>
            }
        </tbody>

    </table>
    <h5 style="text-align:end;">
        Total Sysco Expense : $@_totalSysco
    </h5>

    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">JFC Product Name</th>
                <th style="text-align:center">JFC Product Weight(KG)</th>
                <th style="text-align:center">JFC Product Weight(LB)</th>
                <th style="text-align:center">JFC Product Price</th>

            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.jfc)
            {
                double totalJfcPrice = 0;
                totalJfcPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>

                </tr>
            }

        </tbody>
    </table>
    <h5 style="text-align:end;">
        Total JFC Expense : $@_totalJFC
    </h5>

    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">ETC Product Name</th>
                <th style="text-align:center">ETC Product Weight(KG)</th>
                <th style="text-align:center">ETC Product Weight(LB)</th>
                <th style="text-align:center">ETC Product Price</th>

            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.etc)
            {
                double totalEtcPrice = 0;
                totalEtcPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;

                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>

                </tr>
            }

        </tbody>

    </table>
    <h5 style="text-align:end;">
        Total ETC Expense : $@_totalETC
    </h5>




    <div>
        <canvas id="myChart"></canvas>
        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {


                    labels: ['@sortedList[3].Value',
                        '@sortedList[2].Value',
                        '@sortedList[1].Value',
                        '@sortedList[0].Value'],


                    datasets: [{
                        label: 'Expense from Supplier',

                        backgroundColor: [

                            'rgba(255, 0, 0, 1)',
                            'rgba(0, 255, 0, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(255, 255, 0, 1)'


                        ],
                        data: ['@sortedList[3].Key',
                            '@sortedList[2].Key',
                            '@sortedList[1].Key',
                            '@sortedList[0].Key'],


                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            labels: {
                                color: 'white', // Change label text color
                            },
                            // boxBackgroundColor: 'white', // Change label background color
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: 'white' // Change the color of the tick numbers on the y-axis
                            }
                        },
                        x: {
                            ticks: {
                                color: 'white' // Change the color of the tick labels on the x-axis
                            }
                        }

                    }
                }
            });
        </script>

    </div>


    <h4 style="text-align:end;">
        Total Expense : $@_totalExpense
    </h4>


    @{
        Html.BeginForm("CreateExcel", "Home", FormMethod.Get);
        {
            <div>
                    <input type="submit" value="Create Excel" style="width:150px; height:30px;"/>
            </div>

        }
        Html.EndForm();
    }
    <br/>


</div>


