@model ProductCategoriesModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">Items In Inventory</h2>
        </div>

    </div>
    <br />



    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">GFS Product Name</th>
                <th style="text-align:center">GFS Product Weight(KG)</th>
                <th style="text-align:center">GFS Product Weight(LB)</th>
                <th style="text-align:center">GFS Product Price</th>
                <th style="text-align:center">GFS Total Price</th>
            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.gfs)
            {
                double totalGfsPrice = 0;
                totalGfsPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>
                    <td width="20%" class="_gfsTD">$ @totalGfsPrice</td>


                </tr>
            }

        </tbody>

    </table>

    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">Sysco Product Name</th>
                <th style="text-align:center">Sysco Product Weight(KG)</th>
                <th style="text-align:center">Sysco Product Weight(LB)</th>
                <th style="text-align:center">Sysco Product Price</th>
                <th style="text-align:center">Sysco Total Price</th>
            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.sysco)
            {
                double totalSyscoPrice = 0;
                totalSyscoPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>
                    <td width="20%" class="_gfsTD">$ @totalSyscoPrice</td>


                </tr>
            }
        </tbody>

    </table>

    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">JFC Product Name</th>
                <th style="text-align:center">JFC Product Weight(KG)</th>
                <th style="text-align:center">JFC Product Weight(LB)</th>
                <th style="text-align:center">JFC Product Price</th>
                <th style="text-align:center">JFC Total Price</th>
            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.jfc)
            {
                double totalJfcPrice = 0;
                totalJfcPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>
                    <td width="20%" class="_gfsTD">$ @totalJfcPrice</td>


                </tr>
            }

        </tbody>
    </table>

    <table class="table table-bordered table-striped" style="width:100%">
        <Thead>
            <tr>


                <th style="text-align:center">ETC Product Name</th>
                <th style="text-align:center">ETC Product Weight(KG)</th>
                <th style="text-align:center">ETC Product Weight(LB)</th>
                <th style="text-align:center">ETC Product Price</th>
                <th style="text-align:center">ETC Total Price</th>
            <tr />
        </Thead>
        <tbody>

            @foreach (var value in Model.etc)
            {
                double totalEtcPrice = 0;
                totalEtcPrice += (double)value.Price;
                double totalLb = (double)value.Weight * 2.20462;
               
                <tr>

                    <td width="20%" class="_gfsTD">@value.ProductName</td>
                    <td width="20%" class="_gfsTD">@value.Weight KG</td>
                    <td width="20%" class="_gfsTD">@totalLb.ToString("0.00") LB</td>
                    <td width="20%" class="_gfsTD">$ @value.Price</td>
                    <td width="20%" class="_gfsTD">$ @totalEtcPrice</td>
                  


                </tr>
            }

        </tbody>

    </table>

    <h4 style="text-align:end;">
        Total Expense : 
        @{
            double totalExpense = 0;
            foreach(var val in Model.gfs)
            {
                totalExpense += (double)val.Price;
            }
            foreach (var val in Model.sysco)
            {
                totalExpense += (double)val.Price;
            }
            foreach (var val in Model.etc)
            {
                totalExpense += (double)val.Price;
            }
            foreach (var val in Model.jfc)
            {
                totalExpense += (double)val.Price;
            }
        }
       $ @totalExpense

    </h4>


</div>
